body {
        font-family: "Open Sans", sans-serif;
      }

      h1 {
        font-weight: 400;
      }

      button {
        background-color: rgb(239, 120, 60);
        border: none;
        color: white;
        padding: 3px 10px;
        border-radius: 8px;
        cursor: pointer;
      }

      input {
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 3px 10px;
      }

      ::placeholder {
        color: rgba(0, 0, 0, 0.1);
      }

      ul {
        padding: 3px 10px;
        list-style-type: none;
      }